
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

/* Dragging over a row to drop on */
tr.isOver td, tr.isOver:last-child td {
  border-top: 2px dashed #888;
  border-bottom: 2px dashed #888;
}
tr.isOver td:first-child {
  border-left: 2px dashed #888;
}
tr.isOver td:last-child {
  border-right: 2px dashed #888;
}

.isDragging {
  opacity: 0.99; /* This is a hacky fix that I fell upon by trial and error that makes it so the "cursor ghost" of your dragging image gets displayed for table-rows */
  box-shadow: -3px 3px 16px -6px rgba(0,0,0,0.75);
}

/* Redesign inputs */
input.field {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: rgb(250, 250, 250);
  border-bottom-width: 3px;
  border-radius: 0;
}

.field:focus, .field.is-focused {
  outline: none;
  border-color: #888;
  box-shadow: none;

}

/* Redesign th */
.table-light th {
  border-bottom-width: 0px;
}
